/* This file is for your main application css. */

@import "./phoenix.css";

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  width: auto;
  align-items: center;
  justify-content: center;
}

.cell {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  font-size: 150%;
}

.game_id {
  text-align: center;
  margin: 10px;
  font-size: 2em;
}
